/*import scss*/
@import "colores";
@import "sizes";
body{
  margin:0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    box-sizing: border-box;

  }
  @import url(index.html);

   /**aca va media para moto g4*/

   @media screen and(max-width:360px){

     .row{
       margin-right:85px;
     }
    }
    @media screen and (min-width:768px) and (max-width:1024px){
      .row{
      margin-left: -50px;
      }
      .camisas{
        padding-top: 15px;
        padding-bottom: 15px;
        margin-right: 95px;
        font-size: 50px;
      }
      .jeans{
        padding-top: 20px;
        padding-bottom: 20px;
        margin-right: 90px;
        font-size: 50px;
      }
    }

   
  /**aca va media para iphone 6/7/8*/
  @media screen and (min-width:361px) and (max-width: 768px){
    .camisas{
      margin-left: -6rem;
      padding-top: 10px;
    }
    .jeans{
      margin-left: -6rem;
      padding-top:10px;
    }
    .row{
      margin-left:-83px;

    
    }
    .carousel img{
      height: 250px;
    }
    .contenedor figure img {
     max-height: 700px;
     min-width: 100;
    }
  }

  /*LARGE SCREEN*/
  @media (min-width:700px){ 

    .row{
      max-width: 3500px;
    }
    .contact-wrapper{
      display: grid;
      grid-template-columns: 2fr 1fr;
    }
    .contact-wrapper > *{
      padding: 2em;
    }
  
    .contact-info ul,
    .contact-info p{
      padding: 1em;
      text-align: left;
    }
   
  }

  /*CONTACTO*/
  
  .content{
    padding: 0 1.5em;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
  }
 .logo {
   text-align: center;
   font-size: 3em;
   padding: 15px;
 }
 .contact-wrapper {
   box-shadow:2px 2px 5px #555;
 }
 .contact-wrapper > *{
   padding: 1em;
 }
 
  .contact-form form{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }


  .contact-form form .block{
    grid-column: 1/3;
  }
  .contact-form form p{
    margin: 0;
    padding: 1em;
  }
 

  .contact-form form button,
  .contact-form form input,
  .contact-form form textarea{
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    border-bottom: 1px solid rgba(119, 102, 102, 0.288);
    outline: none;
  }
  .contact-form form button:hover,
  .contact-form form button:focus{
    background: #665a4f9f;
    color: rgba(255, 255, 255, 0.651);
    transition: background-color 1s ease-out;
    outline: 0;
  }
  .contact-form form button{
    background: #dabb9fa1;
    border: 0;
    text-transform: uppercase;
    padding:1em;
  }
  
   .contact-info h4,
   .contact-info ul,
   .contact-info p{
     text-align: center;
     margin: 0 0 1rem 0;
   }
 .contact-info{
 background:#e5dfd97e;
 }
  .contact-info ul{
    list-style: none;
    padding: 0;
  }
  .contact-info ul li{
    padding: .3em ;
  }
 
  /*nav*/
  .navbar {
    background-color: #e5dfd9;
  }
  
  .btn-outline-success{
    color: black;
    border-color:black ;
    border: none;
  }

 /*seccion hombres y mujeres*/
 
.contenedor{
  width: 100%;
  display: flex;
  justify-content: left;
  margin-left: 40px;
  align-items: center;
  height: 150vh; }

.contenedor figure {
  position: relative;
  height: 1300px;
  width: 900px;
  overflow: hidden;
  border-radius: 6px;
  cursor: pointer; }

.contenedor figure img {
  width: 100%;
  height: 100%;
  transition: all 500ms ease-out; }

.contenedor figure .capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(196, 166, 137, 0.144);
  transition: all 500ms ease-out;
  opacity: 0;
  text-align: center; 
}
.contenedor figure:hover > .capa{
  opacity: 1;
  visibility: visible;
}
.contenedor figure.capa h3{
  margin-top: 70px;
  margin-bottom: 15px;
}
.contenedor figure .capa h3{
  color: white;
  font-size: 80px;
  font-weight: 200;
  margin-bottom:120px;
  margin-top: 580px;

}
.contenedor figure:hover >img{
  transform: scale(1.1);
}




/*SECCION HOMBRES*/
.card {
  display: block;
  padding: 10px;
}
.container{
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 115px;
}
.jeans{
  text-align: center;
}
.camisas{
  text-align: center;
}
/*Espaciado entre cards*/
.cardSpace {
  margin-top: 5px;
  margin-left: 10px;
}
.cardSpace2 {
  @extend .cardSpace;
}
.card-body{
  text-align: center;
}


  /*FOOTER*/
  footer{
    background: #e5dfd9;
    height: auto;
    width: 100;
    font-family: 'Prata', serif;
    padding: top 30px;
    color:black;
    margin-top: 15px;
  }
  .footer_contenido{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .footer_contenido h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
  }
  .footer_contenido p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
  }
  .redes {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3 rem 0;
  }
  .redes{
    display: flex;
    margin-left: -1rem;
    margin-bottom: 1rem;
  }
  .redes li {
    margin: 0 10px;
  }
  .redes a{text-decoration: none;
  color:black;
  }
  .redes a i{font-size: 1.1rem;
  transition:color .4s ease;
  }
  .redes a:hover i{
    color: #e5dfd9;
  }
  .footer_bottom {
    background: #e5dfd9;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
  }
  .footer_bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    margin-top: -1rem ;
  }
  .footer_bottom span{
    text-transform: uppercase;
    opacity: 0.4;
    font-weight: 200;
  }
  .titulo_footer{
    display: flex;
    margin-right: 1rem;
    color:rgb(0, 0, 0);
    letter-spacing: 3px;
  
  }
  .container-fluid{
    padding: 0;
    margin: 0;
  }